/* ========== RESET ET BASE ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  font-family: 'Montserrat', sans-serif;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 48px;
  margin-bottom : 150px;
  min-height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
